In [40]:
import pandas as pd

movie_day14_df = pd.read_csv('./day14.csv', encoding='utf-8')

In [33]:
movie_day14_df

,movie_name,movie_code,director_name,director_code,nation,release_date,day1_date,day1_screen,day1_audience,day15_date,day15_audience
0,다크아워,20113652,크리스 고락,10077008,미국,2012-01-05,2012-01-05,305,22325,2012-01-18,162604
1,밀레니엄 제 1부 : 여자를 증오한 남자들,20113836,닐스 아르덴 오플레브,20125859,스웨덴,2012-01-05,2012-01-05,6,107,2012-01-18,1554
2,송곳니,20113591,요르고스 란티모스,10065698,그리스,2012-01-05,2012-01-05,1,44,2012-01-18,400
3,원더풀 라디오,20113671,권칠인,10002537,한국,2012-01-05,2012-01-05,421,60371,2012-01-18,882472
4,치코와 리타,20113501,페르난도 트루에바|하비에르 마리스칼|토노 에란도,10083092|20125837|20125849,스페인,2012-01-05,2012-01-05,15,436,2012-01-18,7962
5,밀레니엄 : 여자를 증오한 남자들,20110882,데이빗 핀처,10012198,미국,2012-01-11,2012-01-11,195,11033,2012-01-24,384526
6,초한지 - 천하대전,20113883,이인항,10057088,중국,2012-01-11,2012-01-11,97,2636,2012-01-24,91447
7,밍크코트,20112781,신아가|이상철,10040487|10055906,한국,2012-01-12,2012-01-12,13,149,2012-01-25,1872
8,세 번째 사랑,20113491,리처드 J. 루이스,20125878,캐나다,2012-01-12,2012-01-12,15,431,2012-01-25,7284
9,스탠리의 도시락,20124726,아몰 굽트,20127325,인도,2012-03-08,2012-03-08,125,1601,2012-03-21,42943
10,은실이,20112861,김선아|박세희,20113131|20114946,한국,2012-03-08,2012-03-08,1,15,2012-03-21,194
11,존 카터: 바숨 전쟁의 서막,20124629,앤드류 스탠튼,10045926,미국,2012-03-08,2012-03-08,462,41747,2012-03-21,717951
12,태어나서 미안해,20112071,최영석,10072471,한국,2012-03-08,2012-03-08,1,6,2012-03-21,201
13,화차,20124050,변영주,10031365,한국,2012-03-08,2012-03-08,456,74855,2012-03-21,1761276
14,서약,20124874,마이클 수치,10023193,미국,2012-03-14,2012-03-14,284,37219,2012-03-27,232646
15,가비,20111774,장윤현,10060414,한국,2012-03-15,2012-03-15,315,23878,2012-03-28,266138
16,마이 백 페이지,20113483,야마시타 노부히로,10046558,일본,2012-03-15,2012-03-15,7,124,2012-03-28,2049
17,밀프,20139843,스콧 휠러,20175362,미국,2013-06-20,2013-06-20,0,0,2013-07-03,708
18,버니,20138582,리차드 링클레이터,10020023,미국,2013-06-20,2013-06-20,28,340,2013-07-03,7175
19,부기우기: 상위 1%의 섹스,20098216,던컨 워드,10010661,영국,2013-06-20,2013-06-20,1,100,2013-07-03,1514
20,세상은 가끔 아름답다,20139581,미노리카와 오사무,20174840,일본,2013-06-20,2013-06-20,0,0,2013-07-03,34
21,어느 예술가의 마지막 일주일,20134484,마르잔 사트라피|뱅상 파로노,10021485|10030436,프랑스,2013-06-20,2013-06-20,16,437,2013-07-03,9873
22,월드 워 Z,20122122,마크 포스터,10024440,미국,2013-06-20,2013-06-20,802,239692,2013-07-03,3553992
23,유니버셜 솔저4: 클론의 반란,20139181,존 하이암스,10068563,미국,2013-06-20,2013-06-20,1,14,2013-07-03,1252
24,이별계약,20137081,오기환,10050086,한국,2013-06-20,2013-06-20,60,1705,2013-07-03,16278
25,토토의 움직이는 숲,20126253,에스벤 토프트 야콥슨,20174581,덴마크,2013-06-20,2013-06-20,99,1268,2013-07-03,61914
26,파라다이스 키스,20138861,신조 타케히코,20112339,일본,2013-06-20,2013-06-20,5,339,2013-07-03,1572
27,퓨어,20139264,리사 랑세트,20174580,스웨덴,2013-06-20,2013-06-20,1,68,2013-07-03,1054
28,홀리,20124043,박병환,20125796,한국,2013-06-20,2013-06-20,7,132,2013-07-03,608
29,극장판 헌터X헌터 : 팬텀루즈,20139262,사토 유조,20174462,일본,2013-06-27,2013-06-27,42,369,2013-07-10,2988
...,...,...,...,...,...,...,...,...,...,...,...
2957,저스트 어 이어,20137181,댄 마저,20171560,영국,2013-05-30,2013-05-30,48,2131,2013-06-12,6312
2958,콘돌은 날아간다,20125686,전수일,10061331,한국,2013-05-30,2013-05-30,9,72,2013-06-12,828
2959,폴 다이어리,20138186,크리스 크라우스,10077232,독일,2013-05-30,2013-05-30,3,49,2013-06-12,1076
2960,극장판 썬더일레븐 GO VS 골판지 전사 W,20138201,미야오 요시카즈,20112841,일본,2013-06-05,2013-06-05,61,1081,2013-06-18,36312
2961,넘버스 스테이션,20138963,카스퍼 바포드,20174231,미국,2013-06-05,2013-06-05,6,406,2013-06-18,1514
2962,더 이클립스,20138641,코너 맥퍼슨,20174022,아일랜드,2013-06-05,2013-06-05,1,34,2013-06-18,693
2963,멋진 녀석들,20138184,피셔 스티븐스,10085334,미국,2013-06-05,2013-06-05,0,0,2013-06-18,1118
2964,무서운 이야기 2,20136058,김성호|김휘|정범식|민규동,10004652|10003489|10061758|10027774,한국,2013-06-05,2013-06-05,280,57861,2013-06-18,481075
2965,백악관 최후의 날,20137963,안톤 후쿠아,10043970,미국,2013-06-05,2013-06-05,279,19058,2013-06-18,168008
2966,은밀하게 위대하게,20126672,장철수,10060556,한국,2013-06-05,2013-06-05,937,498158,2013-06-18,5474238
2967,쾌걸 조로리의 대대대대모험,20138350,이와사키 토모코,20172887,일본,2013-06-05,2013-06-05,61,574,2013-06-18,26870
2968,마이 라띠마,20124069,유지태,10054008,한국,2013-06-06,2013-06-06,26,481,2013-06-19,6374
2969,"아이,애나",20138543,버나비 사우스콤,20173123,영국,2013-06-06,2013-06-06,13,323,2013-06-19,1736
2970,"앵두야, 연애하자",20113835,정하린,20121241,한국,2013-06-06,2013-06-06,9,174,2013-06-19,1990
2971,프랑스 다이어리,20136661,레이몽 드파르동|클로딘 누가레,10015469|20170200,프랑스,2013-06-06,2013-06-06,1,54,2013-06-19,377
2972,티토 황제의 자비,20135268,장 피에로 포넬,20175000,미국,2013-06-08,2013-06-08,2,33,2013-06-21,258
2973,데블스 더블,20138563,리 타마호리,10019367,미국,2013-06-13,2013-06-13,6,35,2013-06-26,1397
2974,마리 크뢰이어,20138605,빌 어거스트,10033528,덴마크,2013-06-13,2013-06-13,15,528,2013-06-26,5789
2975,맨 오브 스틸,20137961,잭 스나이더,10060910,미국,2013-06-13,2013-06-13,933,178949,2013-06-26,2006682
2976,바람의 소리,20138581,진국부|고군서,10070421|10001454,중국,2013-06-13,2013-06-13,5,130,2013-06-26,1977
2977,섹슈얼 컴펄전,20138402,에히디오 코치미글리오,20173020,캐나다,2013-06-13,2013-06-13,5,345,2013-06-26,1563
2978,에브리데이,20138347,마이클 윈터바텀,10023362,영국,2013-06-13,2013-06-13,14,344,2013-06-26,5490
2979,케이온,20138661,야마다 나오코,20173321,일본,2013-06-13,2013-06-13,8,107,2013-06-26,1930
2980,10 아이템 오어 레스,20068788,브래드 실버링,10032055,미국,2013-06-13,2013-06-13,10,470,2013-06-26,1309
2981,아이 오브 더 스톰,20138181,프레드 쉐피시,10084958,호주,2013-06-15,2013-06-15,5,273,2013-06-28,2290
2982,꼭두각시,20138712,권영락,20141134,한국,2013-06-20,2013-06-20,133,5360,2013-07-03,31570
2983,닥터,20120103,김성홍|김유정|배현지,10004653|20184068|20185555,한국,2013-06-20,2013-06-20,156,8963,2013-07-03,66822
2984,대부 : 끝나지 않은 이야기,20139301,올리비에 마르샬,10051265,프랑스,2013-06-20,2013-06-20,4,100,2013-07-03,1396
2985,더 콜,20138141,브래드 앤더슨,10032061,미국,2013-06-20,2013-06-20,223,7969,2013-07-03,88470
2986,로봇G,20138813,야구치 시노부,10046362,일본,2013-06-20,2013-06-20,7,40,2013-07-03,1221

In [34]:
new_df = 0
director_filmo = pd.DataFrame(columns=("code", "filmo","movie_code"))

for index,row in movie_day14_df.iterrows():
    peopleNm_list = [] ### 매번 비우면서
    
    if '|' in getattr(row,"director_name"):
        peopleNm_list = (getattr(row,"director_code").split('|'))
    else:
        peopleNm_list.append(getattr(row,"director_code"))
        
    filmoNames = getattr(row,"movie_name")
    filmoNames = filmoNames[1:]
    filmocode = getattr(row,"movie_code")
    for director in peopleNm_list:
        new_df+=1 ## actor_filmo row count
        director_filmo.loc[new_df] = [director,filmoNames,filmocode]

In [14]:
day14_result = pd.read_csv('./14dir_result.csv', encoding='euc-kr')

In [35]:
import aiohttp
import asyncio
import lxml
from aiohttp import ClientSession
from bs4 import BeautifulSoup
import requests

async def fetch(link,director_code,filmo_name,movie_code,index):
    async with ClientSession() as session:
        async with session.get(link) as response:
            html = await response.read()
            
            soup = BeautifulSoup(html,"lxml")

            tbody = soup.findAll('em', class_='tl')

            result = []

            for page in soup.find_all('p',class_='pageList pmt2'):
                page_num = list(page.strings)
                page_result = [i for i in page_num if i != '\n']
                
            for etcParam in page_result:
            
                url2 = "http://www.kobis.or.kr/kobis/business/mast/peop/searchPeopleDtl.do?"

                param = "code=%s&sType=filmo&etcParam=%s"  % (director_code,etcParam)

                link = url2+param

                average = await get(link,filmo_name,result)
                                
                director_average_df.loc[index] = [director_code,
                                                  filmo_name,
                                                  movie_code,
                                                  average
                                                 ]
async def get(link,filmo_name,result):
    async with ClientSession() as session:
        async with session.get(link) as response:
            
            html = await response.read()
            
            soup = BeautifulSoup(html,"lxml")

            tr_tag = []
            real_tag = []
            for count in soup.findAll('dl'):
                if any(filmo_name in s for s in list(count.strings)):
                    pass
                elif any('감독' in x for x in list(count.strings)):
    #                 else:
                    tr_tag = tr_tag + list(count.strings)

            for elem in range(0, len(tr_tag)) :
                if tr_tag[elem] == '[공식통계]':
                    real_tag.append(tr_tag[elem+3])

            real_tag = [w.replace('명','') for w in real_tag] ## 명 없애기
            real_tag = [w.replace(',','') for w in real_tag] ## , 없애기
    #             real_tag = [w.replace('','0') for w in real_tag] ## , 없애기
            real_tag = list(filter(None, real_tag))    ## 빈값 지우기
            real_tag = list(map(int,real_tag))

            result.extend(real_tag)

            return int(average(result))

def average(values):
    if len(values) == 0:
        return 0
    return sum(values, 0.0) / len(values)
        
if __name__ == "__main__":
    count= 1
    length = 300
    tasks = []
    last = 0
    director_average_df = pd.DataFrame(columns=['code','filmo','movie_code','average_audience'])
    
    loop_director = asyncio.get_event_loop()
    
    for index,row in director_filmo.iterrows():

        filmo_name = getattr(row,'filmo')
        filmo_name = filmo_name[1:]
        director_code = getattr(row,'code')
        movie_code = getattr(row,'movie_code')

        param = "code=%s&sType=filmo"  % (director_code)

        url1 = "http://www.kobis.or.kr/kobis/business/mast/peop/searchPeopleDtl.do?"

        link = url1 + param

        task = asyncio.ensure_future(fetch(link,director_code,filmo_name,movie_code,index))
        tasks.append(task)

        if count == length:
            print(count)
            loop_director.run_until_complete(asyncio.wait(tasks))
            tasks = []
            length+=300

        if last == len(director_filmo):
            loop_director.run_until_complete(asyncio.wait(tasks))
            tasks = []
            loop_director.close()

        count+=1

300
600
900
1200
1500
1800
2100
2400
2700
3000

In [41]:
director_14 = pd.DataFrame(columns=['movie_name','movie_code','director_name','director_code','director_average','nation','release_date','day1_date','day1_screen','day1_audience','day14_date','day14_audience','actor'])
# director_sum = pd.read_csv('./14dir_result.csv', encoding='euc-kr')
for index,row in director_average_df.iterrows():
    movie_code = getattr(row,'movie_code')
    movie_name = getattr(row,'filmo')
    try:
        director_14.loc[index] = [movie_day14_df['movie_name'][movie_day14_df['movie_code'] == movie_code].item(),
                                   movie_code,
                                   movie_day14_df['director_name'][movie_day14_df['movie_code'] == movie_code].item(),
                                   movie_day14_df['director_code'][movie_day14_df['movie_code'] == movie_code].item(),
                                   max(director_average_df['average_audience'][director_average_df['movie_code'] == movie_code]),
                                   movie_day14_df['nation'][movie_day14_df['movie_code'] == movie_code].item(),
                                   movie_day14_df['release_date'][movie_day14_df['movie_code'] == movie_code].item(),
                                   movie_day14_df['day1_date'][movie_day14_df['movie_code'] == movie_code].item(),
                                   movie_day14_df['day1_screen'][movie_day14_df['movie_code'] == movie_code].item(),
                                   movie_day14_df['day1_audience'][movie_day14_df['movie_code'] == movie_code].item(),
                                   movie_day14_df['day15_date'][movie_day14_df['movie_code'] == movie_code].item(),
                                   movie_day14_df['day15_audience'][movie_day14_df['movie_code'] == movie_code].item(),
                                   actor_name['actor'][actor_name['movie_code'] == movie_code].item()
                                  ]
    except Exception as e:
        print(e)
        print(movie_code)

can only convert an array of size 1 to a Python scalar
20112071
can only convert an array of size 1 to a Python scalar
20124043
can only convert an array of size 1 to a Python scalar
20112861
can only convert an array of size 1 to a Python scalar
20138185
can only convert an array of size 1 to a Python scalar
20112861
can only convert an array of size 1 to a Python scalar
20131082
can only convert an array of size 1 to a Python scalar
20131261
can only convert an array of size 1 to a Python scalar
20124951
can only convert an array of size 1 to a Python scalar
20133661
can only convert an array of size 1 to a Python scalar
20131582
can only convert an array of size 1 to a Python scalar
20124362
can only convert an array of size 1 to a Python scalar
20132625
can only convert an array of size 1 to a Python scalar
20123386
can only convert an array of size 1 to a Python scalar
20132802
can only convert an array of size 1 to a Python scalar
20132682
can only convert an array of size 1 to a Python scalar
20135406
can only convert an array of size 1 to a Python scalar
20132903
can only convert an array of size 1 to a Python scalar
20134358
can only convert an array of size 1 to a Python scalar
20136288
can only convert an array of size 1 to a Python scalar
20134702
can only convert an array of size 1 to a Python scalar
20135767
can only convert an array of size 1 to a Python scalar
20136467
can only convert an array of size 1 to a Python scalar
20136919
can only convert an array of size 1 to a Python scalar
20048736
can only convert an array of size 1 to a Python scalar
20147198
can only convert an array of size 1 to a Python scalar
20147788
can only convert an array of size 1 to a Python scalar
20147806
can only convert an array of size 1 to a Python scalar
20148211
can only convert an array of size 1 to a Python scalar
20148071
can only convert an array of size 1 to a Python scalar
20125231
can only convert an array of size 1 to a Python scalar
20128546
can only convert an array of size 1 to a Python scalar
20149053
can only convert an array of size 1 to a Python scalar
20149184
can only convert an array of size 1 to a Python scalar
20140223
can only convert an array of size 1 to a Python scalar
20142129
can only convert an array of size 1 to a Python scalar
20142129
can only convert an array of size 1 to a Python scalar
20140164
can only convert an array of size 1 to a Python scalar
20141421
can only convert an array of size 1 to a Python scalar
20149397
can only convert an array of size 1 to a Python scalar
20143393
can only convert an array of size 1 to a Python scalar
20145162
can only convert an array of size 1 to a Python scalar
20126573
can only convert an array of size 1 to a Python scalar
20142812
can only convert an array of size 1 to a Python scalar
20149397
can only convert an array of size 1 to a Python scalar
20143665
can only convert an array of size 1 to a Python scalar
20138061
can only convert an array of size 1 to a Python scalar
20156130
can only convert an array of size 1 to a Python scalar
20145482
can only convert an array of size 1 to a Python scalar
20157986
can only convert an array of size 1 to a Python scalar
20148625
can only convert an array of size 1 to a Python scalar
20125246
can only convert an array of size 1 to a Python scalar
20159506
can only convert an array of size 1 to a Python scalar
20142181
can only convert an array of size 1 to a Python scalar
20148674
can only convert an array of size 1 to a Python scalar
20144721
can only convert an array of size 1 to a Python scalar
20159506
can only convert an array of size 1 to a Python scalar
20124999
can only convert an array of size 1 to a Python scalar
20139801
can only convert an array of size 1 to a Python scalar
20153313
can only convert an array of size 1 to a Python scalar
20149457
can only convert an array of size 1 to a Python scalar
20155491
can only convert an array of size 1 to a Python scalar
20148843
can only convert an array of size 1 to a Python scalar
20154243
can only convert an array of size 1 to a Python scalar
20158203
can only convert an array of size 1 to a Python scalar
20151861
can only convert an array of size 1 to a Python scalar
20127627
can only convert an array of size 1 to a Python scalar
20148667
can only convert an array of size 1 to a Python scalar
20126386
can only convert an array of size 1 to a Python scalar
20155547
can only convert an array of size 1 to a Python scalar
20150982
can only convert an array of size 1 to a Python scalar
20129646
can only convert an array of size 1 to a Python scalar
20128566
can only convert an array of size 1 to a Python scalar
20158705
can only convert an array of size 1 to a Python scalar
20162581
can only convert an array of size 1 to a Python scalar
20165764
can only convert an array of size 1 to a Python scalar
20128866
can only convert an array of size 1 to a Python scalar
20155883
can only convert an array of size 1 to a Python scalar
20121067
can only convert an array of size 1 to a Python scalar
20141591
can only convert an array of size 1 to a Python scalar
20162970
can only convert an array of size 1 to a Python scalar
20121683
can only convert an array of size 1 to a Python scalar
20125807
can only convert an array of size 1 to a Python scalar
20153303
can only convert an array of size 1 to a Python scalar
20168664
can only convert an array of size 1 to a Python scalar
20156765
can only convert an array of size 1 to a Python scalar
20162026
can only convert an array of size 1 to a Python scalar
20170385
can only convert an array of size 1 to a Python scalar
20170305
can only convert an array of size 1 to a Python scalar
20127190
can only convert an array of size 1 to a Python scalar
20123701

In [30]:
director_sum.to_csv('./14dir_result.csv', encoding='euc-kr')

In [37]:
import pandas as pd
actor_name = pd.read_csv('./8missing.txt')
director_sum = pd.read_csv('./14dir_result.csv', encoding='euc-kr')

In [44]:
director_14.to_csv('./14data.csv', encoding='utf-8')